@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

/* Cabeçalho*/
.topo {
  margin: 2vw auto;
}

.container-x1 {
  margin-right: 0;
}

/* Texto do cabeçalho */
.textoevento h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 3vw auto;
}

.textoevento p {
  line-height: 2em;
}

/* Imagem do cabeçalho */
.imagemhead {
  display: block;
}

.con1 { 
  right: 0;
}

.imagemhead img {
  z-index: -1;
  position: relative;
  right: 6vw;
  width: 70vw;
}

/* Logos embaixo da imagem */
.logos {
  display: flex;
  margin-top: -10vw;
}

.logos p {
  align-items: flex-start;
}

.logos img {
  width: 20vw;
  margin-left: 2vw;
}

/* Layout do contador */
.evento p {
  margin: 1.8em auto;
}

.numeros {
  display: block;
}

.contador {
  font-size: 1.7em;
  padding: 0.5em 0.7em;
  border: solid 1px #0093CB;
  border-radius: 4px;
  display: inline;
}

.data {
  display: flex;
  flex-direction: row;
  color: #0093CB;
  font-weight: 300;
}

.contagem {
margin-right: 2.5em;
}

/* topo responsivo */

@media only screen and (max-width: 550px) {
  .imagemhead img {
    width: 100%;
    margin: auto;
  }

  .logos img {
    width: 30vw;
    margin: auto;
  }
}
/* Fim da seção 1 */



#cabecalho {
  background-color: GREY;
}

#logodesk {
  width: 50px;

}


#banner1 {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

#banner2 {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

/* Inicio Section 2 */
.container-fluid {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  
}

.img-fluid {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  z-index: -1;
}

.row {
  background-color: transparent;
  margin: 0;
}

.c1 {
  width: 100%;
  padding: 0;
}

.r1 {
  width: 100%;
  height: auto;
  margin-top: 50.5vw;
  background-color: #006eea;
  left: 0;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 865px) {
  .r1 {
    margin-top: 52vw;
  }
}
@media screen and (max-width: 565px) {
  .r1 {
    margin-top: 52vw;
  }
}




/* Cartão host*/
.card {
  width: 100%;
  height: auto;
  margin-left: auto;    
  margin-right: auto;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  background-color:  transparent;
  border: none;
  color: #fff;
  }

.img-circ{
  width: 23.5vw;
  height: 23.5vw;
  max-width: 335px;
  max-height: 335px;
  background-color: gray;
  border-radius: 50%;
}

.card-body {
  width: 23.5vw;
  height: auto;
  min-width: 320px;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  padding: 0;
}

.card-footer { 
  width: 23.5vw;
  height: auto;
  max-width: 335px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  font-size: 28px;
  line-height: 41px;
  text-align: center;
  border: none;
  background-color: transparent;
  margin-bottom: 7.8vw;
  padding: 0;
}   

.p1 {
  width: 23.5vw;
  height: auto;
  max-width: 335px;
  font-weight: 300;
  font-size: 28px;
  line-height: 41px;
  text-align: center;
  border: none;
  background-color: transparent;
  margin-bottom: 142px;
  padding: 0;
}



/*@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;

}*/

/* Fim Section 2 */

/*Section 3 */

#banner3{
  width: 100%;
  height: 100%;
  background-color: #0B6EE6;
}
#banner4{
  background-color:white;
  margin-left: 5%;
}
#banner5{
  background-color: white;
}
#data_ev{
  text-align:center;
}
#hr{
  background-color: #0093CB;
}
/* MEDIA SECTION 3 */
@media screen and (max-width: 768px){
  #banner4{
      margin-left: 0px;
  }
  #banner5{
      margin-left: 0px;
  }
  #data_ev{
    text-align:center;
  }
  #hr{
    background-color: #0093CB;
  }
  #detalhes{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 47px;
    padding-top: 75px;
   
  }
  #detalhes_1{
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-style: normal;
      font-size: 18px;
      padding-top: 4px;
      
  }
  #start_ev{
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      padding-top: 45px;
      
  }
  #start_ev1{
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-size: 24px;
      line-height: 36px;
      padding-top: 45px;
  }
  #data_ev{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    padding-top: 35px;
    padding-bottom: 25px;
}
  #hora_1{
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      padding-bottom: 25px;
      padding-top:16px;
  }
}
@media screen and (max-width: 992px){
  #banner4{
      margin-left: 0px;
  }
  #banner5{
      margin-left: 0px;
  }
  #detalhes{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 47px;
    padding-top: 75px;
   
  }
  #detalhes_1{
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-style: normal;
      font-size: 18px;
      padding-top: 4px;
      
  }
  #start_ev{
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      padding-top: 45px;
      
  }
  #start_ev1{
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-size: 24px;
      line-height: 36px;
      padding-top: 45px;
      
  }
  #data_ev{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    padding-top: 35px;
    padding-bottom: 25px;
}
  #hora_1{
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      padding-bottom: 25px;
      padding-top:16px;
  }
  }
/* FIM MEDIA SECTION 3 */
#detalhes{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 47px;
    padding-top: 75px;
    padding-left: 75px;
}
#detalhes_1{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-style: normal;
    font-size: 18px;
    padding-top: 4px;
    padding-left: 75px;
}
#start_ev{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    padding-top: 45px;
    padding-left: 75px;
}
#start_ev1{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    padding-top: 45px;
    padding-left: 75px;
}
#btn_insc{
    padding-left: 75px;
    padding-top: 35px;
}
#btn_insc1{
    background-color: #0B6EE6;
    color:white;
    font-family: 'Oswald', sans-serif;
    width: 200px;
    border:1px solid#0B6EE6;
    border-radius: 75px;
}
#btn_ind{
    padding-left: 75px;
    padding-top: 35px; 
    
}
#btn_ind1{
    background-color: #2717E6;
    color:white;
    font-family: 'Oswald', sans-serif;
    width: 200px;
    border:1px solid#2717E6;
    border-radius: 75px;
}
#siga{
    padding-left: 75px;
    padding-top: 131px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color:black;
}
#redes{
    padding-left: 75px;
    padding-top: 9px; 
    padding-bottom: 101px;
}
#horarios{
    color:black;
}
#data_ev{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 75px;
}
#hora_1{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 25px;
    padding-top:16px;
    padding-left: 75px;
}
#tema{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 3px;
}
#inter{
    margin-top: 10px;
    padding-left: 5%;
    margin-bottom: 3px;
}
/*Fim da section 3*/

/** POP-UP **/

@keyframes modal-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-content-appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  display: none !important;
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: modal-appear 300ms ease forwards;
}

.modal-container .modal-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

.modal-container .modal-content {
  width: 400px;
  max-width: 96%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #68075d;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  animation: modal-content-appear 300ms ease forwards;
  animation-delay: 300ms;
  text-align: center;
  color: #ffffff;
}

h6 {
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.modal-container .modal-content>button {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  outline: none;
}

.modal-container .modal-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container .modal-content * {
  width: 100%;
}

.modal-container .modal-content form>input {
  height: 42px;
  border: 1px solid #69075e;
  color: #69075e;
  outline: 0;
  font-size: 20px;
  padding: 0 15px;
  margin-top: 16px;
  transition: all 200ms ease;
}

.modal-container .modal-content form>input:hover {
  background: #000000;
  color: #ffffff;
}
